<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ARV_V1_MODEL">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ARV_V1_MODEL urdf file -->
    <xacro:include filename="$(find ARV_V1_MODEL)/urdf/ARV_V1_MODEL.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="ARV_V1_MODEL.ros2_control.xacro" />


    <xacro:ARV_V1_MODEL_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
