<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arv_v1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-3.96062265210927E-05 4.06405754959547E-05 -0.0285876113334189"
        rpy="0 0 0" />
      <mass
        value="0.980" />
      <inertia
        ixx="7.231E-04"
        ixy="1.430E-09"
        ixz="3.218E-08"
        iyy="7.242E-04"
        iyz="-2.724E-08"
        izz="1.107E-03" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arv_v1_model/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.03" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.06" radius="0.06" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.0154999931132019 0.00790164285412029 0.10483558147126"
        rpy="0 0 0" />
      <mass
        value="2.485" />
      <inertia
        ixx="0.002558"
        ixy="8.462E-07"
        ixz="-1.852E-05"
        iyy="0.004402"
        iyz="2.423E-06"
        izz="0.002687" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arv_v1_model/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.06" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.12" radius="0.04" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.2217"
      upper="1.2217"
      effort="27"
      velocity="20" />
    <dynamics
      damping="0.3"
      friction="0.3" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.2700 0 0"
        rpy="0 0 0" />
      <mass
        value="3.087" />
      <inertia
        ixx="0.00142587127922893"
        ixy="-2.2216196167755E-05"
        ixz="-6.82089241798455E-06"
        iyy="0.0161880134214926"
        iyz="-5.42767939874218E-06"
        izz="0.0175303272584084" />
    </inertial>
    <visual>
      <origin
        xyz="0 -0.135 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arv_v1_model/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.22 0 0" rpy="0 1.5708 0" />
      <geometry>
        <cylinder length="0.44" radius="0.025" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0.055"
      rpy="1.5707963267949 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0.49"
      upper="3.14"
      effort="40"
      velocity="20" />
    <dynamics
      damping="0.3"
      friction="0.3" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.0494 0 0.005"
        rpy="0 0 0" />
      <mass
        value="1.270" />
      <inertia
        ixx="0.001933"
        ixy="3.672E-06"
        ixz="3.385E-06"
        iyy="0.001442"
        iyz="4.610E-05"
        izz="0.002125" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arv_v1_model/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.03 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.06" radius="0.03" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.440 0 0"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.90"
      upper="0.70"
      effort="54"
      velocity="10" />
    <dynamics
      damping="0.3"
      friction="0.3" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.001 0 0.3117"
        rpy="0 0 0" />
      <mass
        value="0.724" />
      <inertia
        ixx="0.008247"
        ixy="-2.063E-13"
        ixz="2.834E-07"
        iyy="0.008686"
        iyz="6.912E-07"
        izz="0.001099" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arv_v1_model/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.498039215686275 0.498039215686275 0.498039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.175" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.35" radius="0.02" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.975"
      upper="3.14"
      effort="1.2"
      velocity="40" />
    <dynamics
      damping="0.3"
      friction="0.3" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.0160961942906923 0.000873845892292946 0.00896455872794405"
        rpy="0 0 0" />
      <mass
        value="0.180" />
      <inertia
        ixx="2.953E-05"
        ixy="1.153E-07"
        ixz="8.452E-08"
        iyy="5.008E-05"
        iyz="-1.880E-08"
        izz="2.968E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arv_v1_model/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.01 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.03" radius="0.015" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 0 0.3505"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="7"
      velocity="20" />
    <dynamics
      damping="0.2"
      friction="0.2" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-1.71529457304587E-14 0.0093499999991507 0.0563050373172609"
        rpy="0 0 0" />
      <mass
        value="0.706" />
      <inertia
        ixx="1.832E-04"
        ixy="5.839E-20"
        ixz="-2.422E-19"
        iyy="2.778E-05"
        iyz="-2.002E-19"
        izz="2.104E-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arv_v1_model/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.03" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.06" radius="0.015" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="1.57079632679552 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="1"
      velocity="20" />
    <dynamics
      damping="0.3"
      friction="0.4" />
  </joint>
  <link name="tcp"/>
  <joint name="joint_tcp" type="fixed">
    <origin xyz="0 0.000 0.179" rpy="0 0 0"/>
    <parent link="link6"/>
    <child link="tcp"/>
    <axis xyz="0 0 0"/>
  </joint>
  <link
    name="link_gripper1">
    <inertial>
      <origin
        xyz="2.95056978849573E-10 -0.0510942800009356 0.0859279675185114"
        rpy="0 0 0" />
      <mass
        value="0.104" />
      <inertia
        ixx="6.198E-05"
        ixy="8.695E-20"
        ixz="3.995E-19"
        iyy="5.250E-05"
        iyz="-7.314E-06"
        izz="2.048E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arv_v1_model/meshes/link_gripper1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.05 0.09" rpy="0 0 0" />
      <geometry>
        <box size="0.012 0.012 0.06" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_gripper1"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link6" />
    <child
      link="link_gripper1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.04"
      effort="70"
      velocity="0.1" />
    <dynamics
      damping="0.5"
      friction="0.5" />
  </joint>
  <link
    name="link_gripper2">
    <inertial>
      <origin
        xyz="6.38378239159465E-15 0.0697942805013251 0.0859376907229839"
        rpy="0 0 0" />
      <mass
        value="0.104" />
      <inertia
        ixx="6.198E-05"
        ixy="-7.226E-20"
        ixz="3.982E-19"
        iyy="5.250E-05"
        iyz="7.314E-06"
        izz="2.048E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arv_v1_model/meshes/link_gripper2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.05 0.09" rpy="0 0 0" />
      <geometry>
        <box size="0.012 0.012 0.06" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_gripper2"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link6" />
    <child
      link="link_gripper2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.04"
      upper="0"
      effort="70"
      velocity="0.1" />
    <dynamics
      damping="0.5"
      friction="0.5" />
    <mimic
      joint="joint_gripper1"
      multiplier="-1"
      offset="0" />
  </joint>
  <link name="world"/>
  <joint name="world_fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="-0.05 0 0.295" rpy="0 0 0"/>    
  </joint>
</robot>
